<!-- about.component.html -->
<section id="about" class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="headline d-flex mt-5 mb-3">
                <div class="headline-1 me-2"></div>
                <div class="headline-2"></div>
            </div>
            <h2 class="text-highlight mb-4 text-lead">About Me</h2>
            <p class="text-about text-muted">
                I'm a full-stack software developer specializing in Laravel, Vue.js, and modern web technologies, building scalable, high-performance applications.  
                From crafting intuitive frontends with <span class="text-unmuted text-highlight">Angular.js</span>,<span class="text-unmuted text-highlight">Vue.js</span>, <span class="text-unmuted text-highlight">Nuxt.js</span>, and <span class="text-unmuted text-highlight">React.js</span> to engineering secure, efficient backends with <span class="text-unmuted text-highlight">Laravel</span> and <span class="text-unmuted text-highlight">Node.js</span>.  
                I create seamless digital experiences. Whether it’s an enterprise HRMS, fintech platform, or e-commerce system, I thrive on transforming ideas into 
                robust, user-focused solutions.
            </p>
        </div>
        
        <!-- <div class="col-lg-6 text-center">
            <img src="assets/me.png" alt="Joseph Masaka" class="img-fluid rounded">
        </div> -->
    </div>    
</section>
