@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.text-highlight {
    color: rgb(255, 165, 0); /* Vibrant Highlight Color */
}

.headline-1, .headline-2{
    background-color: rgb(255, 165, 0);
}

.headline-1{
    width: 20px;
    height: 2px;
}

.headline-2{
    width: 50px;
    height: 2px;
}

.text-lead {
    font-family: "Montserrat", serif;
    font-size: 20px;
}

.text-about {
    font-family: "Raleway", serif;
    font-size: 28px;
    font-weight: 600;
}

.text-unmuted {
    font-style: italic;
    /* color: rgba(0, 0, 0, .8); */
}