<section class="hero-section">
    <div class="overlay">
        
    </div>
    <div class="container text-start text-white hero-content py-5 showcase d-flex">
        <div class="col-lg-6 col-md-8 col-sm-12 flex-start">
            <h1 class="display-4 fw-bold mb-3">
                Joseph <br><span class="text-highlight">Masaka</span>
            </h1>
            
            <h5 class="mb-3">Bringing Ideas to Life Through Code</h5>
            
            <p class="lead text-light">Passionate Software Developer skilled in Laravel, Vue.js, and modern web technologies.  
            Crafting scalable, high-performance solutions for businesses and individuals.</p>
        
            <!-- Animate Arrow Down Button-->
            <a href="#next-section" class="scroll-down">
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </div>
    
</section>
  